:root{
--menu-main-bg:#343434;
--menu-header-bg:#C0392B;
--menu-block-bg:teal;
--menu-block-border:transparent;
--menu-block-text:#FFFFFF;
--menu-hover-bg:#000000;
--menu-hover-text:#DBFE03;
--menu-sub-hover-bg:brown;
--menu-sub-hover-text:#FFFFFF;
--menu-toggle-bg:brown;
}
html{background-color: #ECF0F1;}
input[type="checkbox"]{width:1.3vw;height:1.3vw;cursor:pointer;vertical-align:middle;margin:0 auto;display:block}
input[type="radio"]{width:1.3vw;height:1.3vw;cursor:pointer;vertical-align:middle;margin:0 auto;display:block}
#aciklamakutusu{width:40%;background-color:#eef6fb;color:#333;padding:1.4vw;border-radius:1vw;border:3px solid #e5e7e9;font-family:'Segoe UI',sans-serif;font-size:1.2rem;box-shadow:0.5vw 0.5vw 0.5vw rgba(0,0,0,0.2);text-align:justify;}
#duyurusecimanasayfa{width:70%;margin:auto;}  
#duyurusecimanasayfa select{width:100%;padding:.5vw 0 .5vw .5vw;border:1px solid #bbb;box-sizing:border-box;cursor:pointer;transition:border-color .3s ease;font-family:Calibri;font-size:1vw;}  
#duyurusecimanasayfa select:focus{border-color:#3a8ee6;outline:none;box-shadow:0 0 6px #3a8ee6;}  
#duyuruaciklamakutu{width:100%;border:1px solid #ccc;background:#f9f9f9;border-radius:6px;color:#333;display:none;font-family:Calibri;font-size:1vw;padding:1vw;margin-top:10px;box-sizing:border-box;text-align:justify;}
#excelveri{width:80%!important;margin:0 auto;}
#excelveri .jspreadsheet{width:100%!important;}
#excelveri table{width:100%!important;}
@keyframes spin{0% { transform: rotate(0deg); }25% { transform: rotate(90deg) scale(1.05); }50% { transform: rotate(180deg); }75% { transform: rotate(270deg) scale(1.05); }100% { transform: rotate(360deg);}}
.mastermenu{display:flex;flex-direction:column;justify-content:flex-start;position:fixed;top:0;left:0;height:100vh;width:10%;background-color:var(--menu-main-bg);color:white;font-size:1vw;transition:background-color .25s ease;}
.menuustkisim{display: flex;flex-direction: column;background-color:var(--menu-main-bg);transition:background-color .25s ease;}
.menualtkisim { margin-top: auto; display: flex; flex-direction: column;background-color:var(--menu-main-bg);transition:background-color .25s ease;}
.masterbaslik{font-size: 1vw;font-family: Calibri;color: white;font-weight:bold;width:100%;background-color:var(--menu-header-bg);text-align:center;display:flex;align-items:center;justify-content:center;user-select:none;line-height: 2.2vw;transition:background-color .25s ease;}
.aspicerik{position:relative;margin:0.7% 0.7% 0.7% 10.7%;font-size:1vw;font-family:Calibri;box-sizing:border-box;}
.menublok{position: relative; width: 92%; text-align: center; margin: auto; background-color: var(--menu-block-bg);border:0.08vw solid var(--menu-block-border);border-radius: 0.4vw; overflow:hidden; display:none;transition:background-color .25s ease,border-color .25s ease;}
.menubuton, .menuustbuton, .menualtbuton, .menuortabuton, .gizlebuton{font-size: 1vw;font-family: Calibri;color: white; text-align:left;background-color: transparent;border: none;display: block;padding-left: 0.4vw;cursor: pointer; width:100%; line-height: 2.2vw;}
.menuustbuton, .menualtbuton, .menuortabuton{color:var(--menu-block-text);transition:background-color .25s ease,color .25s ease;}
.menubuton:hover, .gizlebuton:hover{background-color: var(--menu-hover-bg);color: var(--menu-hover-text);}
.menualtbuton:hover{border-bottom-left-radius: 0.4vw;border-bottom-right-radius: 0.4vw;background-color: var(--menu-sub-hover-bg);color:var(--menu-sub-hover-text);}
.menuustbuton:hover{border-top-left-radius: 0.4vw;border-top-right-radius: 0.4vw;background-color: var(--menu-sub-hover-bg);color:var(--menu-sub-hover-text);}
.menuortabuton:hover{background-color: var(--menu-sub-hover-bg);color:var(--menu-sub-hover-text);}
.gizlebuton{margin-top: auto;}
.gizlemenu{display:none;align-items:center;justify-content:center;position:fixed;left:0;top:0;background-color:var(--menu-toggle-bg);width:2%;font-size:1vw;border:none;height:100%;cursor:pointer;color:white;transition:background-color .25s ease;}
.gostermenu{font-size: 1.2vw;font-weight:bold}
.cssarabaslik{text-align: center;height: 2vw;background-color: teal;color:white;font-size:1vw;font-weight: bold;display: flex; align-items: center;justify-content:center;transition:background-color 0.3s;}
.cssarabaslik:hover{background-color: brown;}
.cssboslukalt0_25{padding-bottom: 0.25vw;}
.cssboslukalt0_5{padding-bottom: 0.5vw;}
.cssboslukalt0_75{padding-bottom: 0.75vw;}
.cssboslukalt1{padding-bottom: 1vw;}
.cssboslukalt1_5{padding-bottom: 1.5vw;}
.cssboslukalt2{padding-bottom: 2vw;}
.cssboslukalt3{padding-bottom: 3vw;}
.cssboslukalt4{padding-bottom: 4vw;}
.cssboslukalt5{padding-bottom: 5vw;}
.cssflex{width: 100%;display: flex;}
.cssflexsol10, .cssflexsol8, .cssflexsol6, .cssflexsol13{width: 10vw;padding-top: 0.5em;padding-bottom: 0.5em;line-height:2vw;vertical-align: central;}
.cssflexsol8{width: 8vw;}
.cssflexsol6{width: 6vw;}
.cssflexsol13{width: 13vw;}
.cssflexsag{width: 100%;margin: auto;padding-top: 0.5em;padding-bottom: 0.5em;}
.csslabelzorunlu{color: #FF0000;font-size: 1vw;text-align: left;font-family: Calibri;}
.csslabelnormal{color: black;font-size: 1vw;text-align: left;font-family: Calibri;}
.csslabelnormaldikorta{color: black;font-size: 1vw;text-align: left;font-family: Calibri;padding-top: 0.3vw;}
.csslabelkalin{color: black;font-weight: bold;font-size: 1vw;text-align: left;font-family: Calibri;}
.csstextbox100, .csstextbox90, .csstextbox80, .csstextbox70, .csstextbox60, .csstextbox50, .csstextbox40, .csstextbox30, .csstextbox20, .csstextbox10, .csstextboxtarih{width: 100%;height: 1.8vw;font-size: 1vw;font-family: Calibri;padding-left: 0.5vw;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;}
.csstextbox100:focus, .csstextboxtarih:focus, .csstextbox90:focus, .csstextbox80:focus, .csstextbox70:focus, .csstextbox60:focus, .csstextbox50:focus, .csstextbox40:focus, .csstextbox30:focus, .csstextbox20:focus, .csstextbox10:focus{outline: none;border: 0.15vw solid black;}
.csstextbox90{width: 90%;}
.csstextbox80{width: 80%;}
.csstextbox70{width: 70%;}
.csstextbox60{width: 60%;}
.csstextbox50{width: 50%;}
.csstextbox40{width: 40%;}
.csstextbox30{width: 30%;}
.csstextbox20{width: 20%;}
.csstextbox10{width: 10%;}
.cssdropdown100, .cssdropdown90, .cssdropdown80, .cssdropdown70, .cssdropdown60, .cssdropdown50, .cssdropdown40, .cssdropdown30, .cssdropdown25, .cssdropdown20, .cssdropdown10, .cssdropdown7{width: 100%;height: 1.8vw;font-size: 1vw;padding-left: 0.3vw;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: Calibri;}
.cssdropdown100:focus, .cssdropdown90:focus, .cssdropdown80:focus, .cssdropdown70:focus, .cssdropdown60:focus, .cssdropdown50:focus, .cssdropdown40:focus, .cssdropdown30:focus, .cssdropdown25:focus, .cssdropdown20:focus, .cssdropdown10:focus, .cssdropdown7:focus, .cssriskanaliziaciklama:focus{outline: none;border: 0.1em solid black;}
.cssdropdown90{width: 90%;}
.cssdropdown80{width: 80%;}
.cssdropdown70{width: 70%;}
.cssdropdown60{width: 60%;}
.cssdropdown50{width: 50%;}
.cssdropdown40{width: 40%;}
.cssdropdown30{width: 30%;}
.cssdropdown25{width: 25%;}
.cssdropdown20{width: 20%;}
.cssdropdown10{width: 10%;}
.cssdropdown7{width: 7%;}
.cssdivortala{display: flex;justify-content: center;align-items: center;}
.paddingleft0_5{padding-left: 0.5vw;}
.cssmargin30{position:relative;margin-left: 30%;margin-right: 30%;}
.csslineheight1_5{line-height: 1.5vw;color: black;font-size: 1vw;text-align: left;font-family: Calibri;}
.cssblok1_3{position: absolute;display: block;width: 33.33%;margin: auto;text-align: center;top: 5%;left: 0;}
.cssblok2_3{position: absolute;display: block;width: 33.33%;margin: auto;text-align: center;top: 5%;left: 33.33%;}
.cssblok3_3{position: absolute;display: block;width: 33.33%;margin: auto;text-align: center;top: 5%;left: 66.66%;}
.cssblokyuzde50{width: 50%;text-align: center;vertical-align: text-top;margin-top: 0;}
.cssblokyuzde30{width: 30%;text-align: center;vertical-align: text-top;margin-top: 0;}
.cssblokyuzde70{width: 70%;text-align: center;vertical-align: text-top;margin-top: 0;}
.cssblokyuzde40{width: 40%;text-align: center;vertical-align: text-top;margin-top: 0;}
.cssblokyuzde60{width: 60%;text-align: center;vertical-align: text-top;margin-top: 0;}
.cssblokbosluk{width: 96%;margin: auto;text-align: center;}
.cssaltbilgi{position: absolute;bottom: 5%;left: 0;width: 100%;margin: auto;text-align: center;}
.cssblok1_3{position: absolute;display: block;width: 33.33%;margin: auto;text-align: center;top: 5%;left: 0;}
.cssblok2_3{position: absolute;display: block;width: 33.33%;margin: auto;text-align: center;top: 5%;left: 33.33%;}
.cssblok3_3{position: absolute;display: block;width: 33.33%;margin: auto;text-align: center;top: 5%;left: 66.66%;}
.cssblokbosluk{width: 96%;margin: auto;text-align: center;}
.csscheckbox input{width:1vw;height:1vw;}
.cssevraknotextbox{background-color: #36454F;text-align: center;font-size: 1.2vw;width: 30%;height: 2.5vw;font-weight: bold;font-family: Calibri;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;color: white;}
.cssmultitextbox{height: 75%;width: 97%;font-size: 1vw;font-family: Calibri;padding-left: 0.5vw;}
.cssmessagebox{position:relative;width: 100%;background-color: #2C3E50;text-align: center;font-size: 1.25vw;height: 2.25vw;font-weight: bold;font-family: Calibri;color: white;padding-top: 0.5vw;}
.cssriskanaliziaciklama{width: 100%;height: 6vw;font-size: 1vw;font-family: Calibri;padding-left: 0.5vw;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;}
.cssmesajanasayfa{color: black;font-size: 1vw;text-align: left;font-family: Calibri;}
.cssotomatikdoldurma{position: relative;display: inline-block;width:100%;padding-bottom: 10px;padding-top: 10px;}
.cssotomatikdoldurma-items{position: absolute;border: 1px solid #d4d4d4;border-bottom:none;border-top: none;z-index: 99;width: 100%;text-align: left;}
.cssotomatikdoldurma-items div{padding: 10px;cursor: pointer;background-color: #FDF2E9;border-bottom: 1px solid #d4d4d4;}
.cssotomatikdoldurma-items div:hover{background-color: #e9e9e9;}
.cssotomatikdoldurma-active{background-color: DodgerBlue !important;color: #ffffff;}
.cssadsoyadblok{width: 40%;background-color: brown;border-radius: 0.6vw;color: white;font-size: 2vh;line-height: 4vh;text-align: center;font-family: Calibri;margin:auto;font-weight: bold;}
.csslistboxblok{width: 40%;background-color: brown;color: white;font-size: 2vh;line-height: 4vh;text-align: center;font-family: Calibri;margin:auto;font-weight: bold;}
.csslistbox{width: 100%;color: black;font-size: 2vh;line-height: 4vh;text-align: left;font-family: Calibri;padding-left: 1vh;padding-top: 0.6vh;}
.csslistboxkonum{margin: auto;width: 40%;}
.cssduyurubaslik{width: 100%;background-color: brown;color: white;font-size: 2vh;line-height: 4vh;text-align: center;font-family: Calibri;font-weight: bold;}
.cssaciklamabaslik{width: 100%;color: black;font-size: 2vh;line-height: 2.8vh;text-align: justify;text-justify: inter-word;font-family: Calibri;}
.cssflexortala{width: 100%;display: flex;justify-content: center;}
.cssbutonortala{display: flex;justify-content: center;grid-gap: 2vw;width: 100%;}
.csskurulsayfabuton{margin-right: 50%;margin-top: 0;}
.cssflexyariyariyagenel{display: flex;width: 100%;position: relative;}
.cssflexyariyariyasol, .cssflexyariyariyasag{justify-content: center;align-items: center;}
.cssflexyariyariyasol{width: 49.5%;margin-right: 0.5%;}
.cssflexyariyariyasag{width: 49.5%;margin-left: 0.5%;}
.cssaltliustlu{display: flex;flex-direction: column;align-items: flex-start;width: 100%;}
.csstextboxmetinortala{text-align: center;}
.csstablobuton{font-size: 1vw;border-radius: 0.3vw;border: 0.1vw solid black;cursor: pointer;font-family: Calibri;background-color: #e7e7e7;color: black;width: 90%;height: 2vw;font-weight: normal;text-align: center;display: flex;justify-content: center;align-items: center;vertical-align: middle;}
.csstablobuton:hover{background-color: teal;color: white;}
.csstablobutonortala{display: flex;justify-content: center;align-items: center;height: 100%;text-align:center;padding: 0;border: none;vertical-align: middle;}
.csstabloyaziortala{text-align:center;font-size: 1vw;font-weight: normal;text-align: center;}
.csstablotextboxcss, .csstablodropcss{width: 90%;height: 2vw;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: Calibri;font-size: 1vw;padding-left: 0.25vw;}
.cssegitimlabel{font-size: 1vw;font-family: Calibri;font-weight: normal;padding-left: 0.3vw;}
.csstabloyazisol{text-align: left;}
.cssbutongeri100{box-shadow: 0px 0.2vw 0.9vw -0.1vw #276873;background-color: crimson;border-radius:0.2vw;border:0.1vw solid #566573;cursor:pointer;color: white;font-family:Calibri;font-size: 1vw;height: 2vw;text-align: center;display: flex;justify-content: center;align-items: center;width: 100%;}
.cssbutongeri100:hover{background-color: #EB984E;color: black;}
.cssbutongeri{display: flex;justify-content: center;align-items: center;height: 2vw;width: 6vw;font-size: 1vw;border-radius: 0.5vw;border: 0.1vw solid black;cursor: pointer;font-family: Calibri;}
.cssbutongeri:hover{background-color: brown;color: white;}
.csskkdbutton{background: #fff;backface-visibility: hidden;border-radius: .600rem;border-style: solid;border-width: .125rem;box-sizing: border-box;color: #212121;cursor: pointer;display: inline-block;font-family: Calibri;font-size: 1.1vw;font-weight: 700;letter-spacing: -.01em;line-height: 1.3;padding: .875rem 1.125rem;position: relative;text-align: center;text-decoration: none;transform: translateZ(0) scale(1);transition: transform .2s;user-select: none;-webkit-user-select: none;touch-action: manipulation;width: 100%;}
.csskkdbutton:hover{background-color: #1e293b;color: #fff;}
.cssarabasliksiyah{text-align:center;height: 2vw;background-color:#343434;color: white;font-size: 1vw;font-weight:bold;}
.cssarabasliksiyah:hover{background-color: brown;}
.cssgridortala{text-align: center;}
.cssgridcheckorta{display: flex; justify-content: center; align-items: center;}
.cssgridortala{text-align: center !important;}
.csssolsagbosluk45{margin-left: 45%;margin-right: 45%;}
.csssolsagbosluk40{margin-left: 40%;margin-right: 40%;}
.csssolsagbosluk35{margin-left: 35%;margin-right: 35%;}
.csssolsagbosluk30{margin-left: 30%;margin-right: 30%;}
.csssolsagbosluk25{margin-left: 25%;margin-right: 25%;}
.csssolsagbosluk20{margin-left: 20%;margin-right: 20%;}
.csssolsagbosluk15{margin-left: 15%;margin-right: 15%;}
.csssolsagbosluk10{margin-left: 10%;margin-right: 10%;}
.csssolsagbosluk5{margin-left: 5%;margin-right: 5%;}
.gridtablo thead tr{color: white; text-align:center;}
.gridtablo td{border: 0.1mm solid #d5d8dc;padding-left: 0.4vw;padding-right: 0.4vw;}
.gridtablo thead th{background-color: #34495e;border: 0.1mm solid #5d6169;height:2vw;}
.gridtablo{border-collapse: collapse;border-spacing: 0;text-align: center;}
.gridtablo tr{border: 0 none;}
.gridtablo th{vertical-align: middle;text-align: center;}
.gridtablo tbody tr:nth-child(odd){background-color: #fffef8;height:3vw;}
.gridtablo tbody tr:nth-child(even){background-color: white;height:3vw;}
.gridtablo tbody tr:hover{background-color: #D1FF00; cursor: pointer;}
.cssgridsolhizala{text-align: left;padding-left: 0.4vw;}
.cssgridsaghizala {text-align: right; padding-right: 0.4vw;}
.aspgridgenel th{color: white;text-align: center;background-color: #34495e;border: 0.1mm solid #5d6169;height: 2vw;}
.aspgridgenel{border-collapse: collapse;border-spacing: 0;text-align: center;border: 0.1mm solid #d5d8dc; margin: auto;}
.aspgridgenel tbody tr:not(:first-child):nth-child(odd){background-color: #fffef8;height: 3vw;}
.aspgridgenel tbody tr:not(:first-child):nth-child(even){background-color: white;height: 3vw;}
.aspgridgenel tbody tr:hover {background-color: #D1FF00 !important;}
.dylg{display: none;position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);}
.dylg-content{background-color: #fff;padding: 1.5vw;border: 0.1vw solid #888;width: 30%;position: absolute;top: 5%;left: 50%;transform: translateX(-50%);box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);border-radius: 0.5vw;max-height: 90vh;overflow-y: auto;}
.dylgbaslik{display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc;}
.dylgbaslikic{margin: 0;font-size: 1.5vw; font-weight:bold;}
.dylgkapat{ background-color: #e5e8e8; border: none; font-size: 2vw; cursor: pointer;}
.dylgkapat:hover{background-color: #a93226;color: #ffffff; border: none; font-size: 2vw;cursor: pointer;}
.dylgyazi{padding-top: 1vw; padding-bottom: 0.5vw}
.dylgbuton{padding-top: 1.5vw; text-align:center;}
.menuicerik{display:none;padding-left:0;margin-left:0}
.menuicerik li{list-style:none;padding:0;margin:0}
.menukutusu{width:40%;margin:0 auto}
.menukutusu li{list-style:none;padding:0;margin:0}
.menusecenekstil{width:100%;color:black;display:block;border:0.1vw solid #abb2b9;border-radius:0.4vw;background-color:#f4f6f7;margin-bottom:0.1vw;padding:0.7vw;font-family:Calibri;font-size:1vw;font-weight:400;text-align:left}
.menusecenekstil:hover{background-color:brown;color:#fff}
.menuicerikbuton{width:100%;display:block;position:relative;color:#fff;background-color:#343A40;text-decoration:none;text-align:center;padding:0.7vw;margin-bottom:0.1vw;border:0;font-family:"Segoe UI",sans-serif;font-size:0.9vw;font-weight:bold}
.menuicerikbuton:hover{color:#dbfe03}
.loaderdosya{position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0,0,0,0.5);z-index:9999;display:flex;flex-direction:column;justify-content:center;align-items:center}
.loaderdosya-wheel{animation:spin 1s infinite linear;border:8px solid #f3f3f3;border-radius:50%;border-top:8px solid #ffef00;border-right:8px solid #ffef00;border-bottom:8px solid #163962;border-left:8px solid #163962;height:60px;width:60px;margin-bottom:20px}
.loaderdosya-text{color:#fff;font-weight:bold;font-family:Arial,sans-serif;font-size:18px}
.alertify-notifier .ajs-message{font-family: Calibri, sans-serif !important;font-size: 1vw !important;}
.cssbutontamam{min-width:6vw;padding:0 0.8vw;font-size:1vw;border-radius:0.5vw;border:0.1vw solid #1a1a1a;cursor:pointer;font-family:'Calibri',sans-serif;white-space:nowrap;box-sizing:border-box;height:2vw;transition:all .3s ease;background:#fff;color:#1a1a1a;}
.cssbutontamam:hover{background:#008080;color:#fff;transform:translateY(-2px);box-shadow:0 4px 6px rgba(0,0,0,.1);}
.cssbutontamam:active{transform:translateY(0);box-shadow:none;}
.cssbutontumu{min-width:6vw;background-color:#cb4335;border:none;border-radius:0.5vw;color:white;font-family:Calibri;font-size:1vw;padding:0.5vw 1vw;box-shadow:0.3vw 0.3vw 0.7vw rgba(0,0,0,0.3);cursor:pointer;transition:background 0.3s ease,color 0.3s ease,transform 0.1s ease;white-space:nowrap}
.cssbutontumu:hover{transform:scale(1.03);font-family:Calibri}
.ui-datepicker-title{display:flex;justify-content:space-between;align-items:center;}
.ui-datepicker-month{margin-right:1vw;}
.ui-datepicker{width:17vw;font-size:0.9vw;}
.ui-datepicker-title select{width:auto;}
.ui-datepicker td{padding:0.1vw;margin:0;text-align:center;vertical-align:middle;}
.ui-datepicker td a{ display:flex; align-items:center; justify-content:center; width:100%; height:100%; line-height:normal; padding:0.2em; font-size:1vw; box-sizing:border-box; text-align:center;}
.csszorunluyazi{color:#b22222;font-weight:bold;user-select:none}
.csszorunluyazi::after{content:" *"}
.cssyazisecme{user-select:none}
.csssolsagbosluk1{margin-left:1vw;margin-right:1vw}
.cssgapbuton{gap:2vw}
.select2-container { height: 2vw !important; font-family: Calibri !important; font-size: 1vw; line-height: 1.3vw; }
.select2-container--classic .select2-dropdown { max-height: 23vw; }
.select2-container--classic .select2-selection--single { height: 2vw; border: 0.1vw solid #79716B; }
.select2-container--classic .select2-results > .select2-results__options { max-height: 20vw; overflow-y: auto; }
.select2-container--classic .select2-selection__rendered { line-height: 2vw !important; }
.select2-container--classic .select2-selection__arrow { height: 2vw !important; }
.select2-container--classic .select2-selection__clear { line-height: 2vw !important; height: 2vw !important; margin-right: 0.5vw; display: flex; align-items: center; }
.select2-container--classic .select2-search--dropdown .select2-search__field { font-family: Calibri !important; font-size: 1vw; height: 1.5vw; line-height: 2vw; border: 0.1vw solid #79716B; border-radius: 0.3vw; }
.select2-container--classic .select2-search--inline .select2-search__field { font-family: Calibri !important; font-size: 1vw; height: 2vw; line-height: 2vw; padding: 0.2vw 0.5vw; }
.select2-container--classic .select2-results { padding: 0.5vw 0; } .select2-container--classic .select2-results__option { font-family: Calibri !important; font-size: 1vw; line-height: 2vw; height: 2vw; padding: 0 0.5vw; box-sizing: border-box; }
.cssflexuclu{display:flex;justify-content:center;gap:1vw;flex-wrap:wrap}
.cssflex30sutun{flex-grow:1;flex-shrink:1;flex-basis:30%}
.csstablobaslik{text-align:center;font-weight:bold;font-size:1vw;padding:0.5vw;margin-bottom:1vw;background-color:#D6D3D1;border-radius:0.6vw;border:0.1vw solid #A6A09B}
.csstextarea{ width: 100%;font-size: 1vw;font-family: Calibri;padding-left: 0.5vw;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;}
.csstextarea:focus{outline: none;border: 0.15vw solid black;}
.cssdisplaynone{display:none} 
.cssgenelkutu{width:95%;margin:0 auto;padding:2vw;background-color:#F9F9F9;border-radius:1vw;box-shadow:0 1vw 1vw rgba(0,0,0,.2);}
.cssciftsutun{display:flex;flex-wrap:wrap;gap:2vw;}
.cssteksutun{flex:1;min-width:300px;}
table.dataTable input.dt-select-checkbox{width:24px!important;height:24px!important;border-radius:0!important;position:relative!important;}
table.dataTable input.dt-select-checkbox:checked:after{content:"✓";position:absolute;top:8px;left:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center;line-height:1;}
table.dataTable input.dt-select-checkbox:indeterminate:after{content:"";position:absolute;top:25%;left:25%;width:50%;height:50%;background-color:black;}
.tabs{display:flex;border-bottom:.1vw solid #ddd;margin-bottom:.7vw;gap:0.4vw}
.tab{cursor:pointer;border:0.1vw solid #ddd;border-bottom:none;background:#525252;font-weight:bold;color:#fff;min-width:7vw;text-align:center;padding:0.6vw}
.tab:hover{background-color:#E7180B;color:#fff;border:0.1vw solid #E7180B}
.tab.active{background-color:#18786F;color:#F8F9FA;border:0.1vw solid #0F4C5C}
.tab.active:hover{background-color:#18786F;color:#F8F9FA;border:0.1vw solid #0F4C5C}
.tabs .tab.active{background-color:#18786F !important;color:#F8F9FA !important;border-color:#0F4C5C !important}
.tabs .tab.active:hover{background-color:#18786F !important;color:#F8F9FA !important;border-color:#0F4C5C !important}
.tab-content{display:none;border:.2vw solid #ddd;border-radius:0.5vw;padding:1.2vw;background-color:#fff}
.tab-content.active{display:block}
.csstamamkutu{display:flex; justify-content:center;}
.csstamamyazi{display:none; background-color:teal; color:white; font-weight:bold; text-align:center; padding-right: 1vw; padding-left: 1vw; line-height: 1.8vw;}
